<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HW12
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="reset.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap", rel="stylesheet")
    body
        .container
            header.header
                nav.nav 
                    div.wrapper-nav
                        a(href="#").link
                            p.text Home
                        a(href="#").link
                            p.text About
                        a(href="#").link
                            p.text Contact     
                    a(href="#").link.link-header
                            p.text-nav.text Landie
                    input(type="button", value="Buy Now", class="btn btn-nav")
                section.section.section-1
                    .section-wrapper.section-wrapper-1
                        h1.title.title-header Introduce Your Product Quickly & Effectively
                        p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                        p.text Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        input(type="button", value="Purchase UI Kit" class="btn btn-section")
                        input(type="button", value="Learn More" class="btn btn-light btn-section")
            section.section.section-2
                .section-wrapper
                    .section-2-wrapper
                        h2.title-section.title Light, Fast & Powerful
                        p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    .section-small-wrapper
                        .section-small-wrapper-1
                            img(src="img/section-icon.png", alt="" class="section-icon")
                            h3.title.title-section.title-small Title Goes Here
                            p.text.text-smalL Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        .section-small-wrapper-1
                            img(src="img/section-icon.png", alt="" class="section-icon")
                            h3.title.title-section.title-small Title Goes Here
                            p.text.text-smalL Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                img(src="img/section-img-1.png", alt="" class="section-img-1")
            section.section.section-3
                img(src="img/section-img-2.png", alt="" class="section-img-2")
                .section-wrapper
                    h2.title-section.title Light, Fast & Powerful
                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            section.section.section-4
                img(src="img/section-img-3.png", alt="" class="section-img-3")
                .section-wrapper
                    h2.title.title-section Light, Fast & Powerful
                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            section.section.section-5 
                img(src="img/section-img-4.png", alt="" class="section-img-4")
                .section-wrapper
                    h2.title.title-section Light, Fast & Powerful
                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    input(type="button", value="Purchase NOW" class="btn btn-nav")
            article.article
                .article-wrapper
                    h2.title.title-header A Price To Suit Everyone
                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                    p.text.text-article $40
                    p.text UI Design Kit
                    p.text.text-small See, One price. Simple.
                    input(type="button", value="Purchase NOW" class="btn btn-section")
            footer.footer
                .footer-wrapper
                    p.footer-text.text-small ©2020 Yourcompany
                    a(href="#").link.footer-link 
                        p.text-nav.text Landie
                    input(type="button", value="Purchase NOW" class="btn btn-nav btn-footer")
                .footer-line
                    div
                .footer-wrapper
                    .wrapper-nav.footer-nav
                        a(href="#").link
                            p.text Home
                        a(href="#").link
                            p.text About
                        a(href="#").link
                            p.text Contact   
                    .social-footer
                        a.link-footer(href="")
                            img.footer-icon(src="img/f.svg", alt="")
                        a.link-footer(href="")
                            img.footer-icon(src="img/l.svg", alt="")
                        a.link-footer(href="")
                            img.footer-icon(src="img/t.svg", alt="")
                        a.link-footer(href="")
                            img.footer-icon(src="img/y.svg", alt="")
                        a.link-footer(href="")
                            img.footer-icon(src="img/i.svg", alt="")
                      


            
                



                    

                    
                
            
