@media (min-width: 250px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 550px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 60%;
}
@media (max-width: 550px) {
  body {
    background-image: none;
  }
}

.container {
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  width: 100vw;
}

.header {
  margin: 0 auto;
  width: 90%;
  height: 700px;
  max-height: 1150px;
  background-image: url(img/header-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
}
@media (max-width: 900px) {
  .header {
    height: auto;
    background-size: 50%;
  }
}
@media (max-width: 550px) {
  .header {
    width: 95%;
    background-image: none;
  }
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
}

.wrapper-nav {
  margin-top: 2rem;
  display: inline-flex;
  justify-content: space-between;
  width: 20%;
}
@media (max-width: 900px) {
  .wrapper-nav {
    width: 30%;
  }
}
@media (max-width: 550px) {
  .wrapper-nav {
    width: 80%;
    order: 2;
    margin-top: 1rem;
  }
}

.link {
  color: #37447E;
  transition: all 0.1s linear;
}
.link:hover {
  transform: scale(1.05);
}

.link-header {
  font-size: 1rem;
  color: #505f98;
}
@media (max-width: 550px) {
  .link-header {
    order: 1;
  }
}
.text-nav {
  margin-top: 1.4rem;
  color: #37447E;
  font-weight: 900;
  font-size: 1.5rem;
}

.btn {
  width: 160px;
  height: 26px;
  background: #111B47;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 0.8rem;
  cursor: pointer;
  overflow: hidden;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline-color: #111B47;
  outline: 1px solid #111B47;
  text-shadow: none;
  position: relative;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  border: 0px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #888ee2;
  background: #a1afe9;
}

.btn-nav {
  margin-top: 1.4rem;
}
@media (max-width: 550px) {
  .btn-nav {
    order: 3;
  }
}

.section {
  margin: 0 auto;
  width: 90%;
  height: 742px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .section {
    height: auto;
    margin: 1rem auto;
  }
}
@media (max-width: 550px) {
  .section {
    height: auto;
    margin: 1rem auto;
    width: 95%;
  }
}

.section-1 {
  margin: 0;
}
@media (max-width: 900px) {
  .section-1 {
    margin: 5rem 0;
  }
}
@media (max-width: 550px) {
  .section-1 {
    margin: 1rem 0;
    width: 100%;
  }
}

.section-2 {
  flex-direction: column;
}

.section-wrapper {
  width: 40%;
  line-height: 20px;
  margin: auto 0;
}
@media (max-width: 900px) {
  .section-wrapper {
    width: 100%;
    order: 2;
    text-align: center;
  }
}

.section-wrapper-1 {
  width: 70%;
}
@media (max-width: 550px) {
  .section-wrapper-1 {
    width: 100%;
  }
}

.section-2-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .section-2-wrapper {
    text-align: center;
  }
}

.title {
  color: #091133;
}

.title-header {
  font-size: 2.5rem;
  line-height: 50px;
  margin-bottom: 15px;
}

.btn-section {
  margin-top: 40px;
  width: 189px;
}
@media (max-width: 1250px) {
  .btn-section {
    width: 150px;
  }
}
@media (max-width: 1000px) {
  .btn-section {
    width: 120px;
  }
}

.btn-light {
  color: #111B47;
  background-color: #FFFFFF;
  margin-left: 15px;
  outline: 1px solid #111B47;
}

.title-section {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 900px) {
  .title-section {
    margin: 1rem auto;
  }
}

.section-small-wrapper {
  margin-top: 5rem;
  width: 100%;
  display: inline-flex;
}
@media (max-width: 900px) {
  .section-small-wrapper {
    text-align: center;
    margin-top: 1rem;
  }
}

.section-small-wrapper-1 {
  width: 50%;
}

.section-icon, .title-small {
  margin-bottom: 0.5rem;
}

.title-small {
  font-size: 1rem;
}

.text-smalL {
  font-size: 0.7rem;
  color: #5D6970;
  line-height: 1.5;
}

.section-img-1 {
  width: 525px;
  margin-left: auto;
}
@media (max-width: 900px) {
  .section-img-1 {
    order: 1;
    margin: -9rem auto 1rem;
  }
}
@media (max-width: 550px) {
  .section-img-1 {
    margin: -1rem auto;
    width: 250px;
  }
}

.section.section-3, .section.section-4 {
  height: 563px;
}
@media (max-width: 550px) {
  .section.section-3, .section.section-4 {
    height: auto;
  }
}

.section-5 {
  background: linear-gradient(0deg, #e7ecff 0%, white 100%);
  margin: 0 auto;
}

.section-img-2 {
  width: 480px;
  height: 370px;
  margin: auto auto auto 0;
}
@media (max-width: 900px) {
  .section-img-2 {
    margin: 1rem auto;
  }
}
@media (max-width: 550px) {
  .section-img-2 {
    margin: 1rem auto;
    width: 250px;
    height: 200px;
  }
}

.section-img-3 {
  width: 480px;
  height: 370px;
  margin: auto auto auto 0;
}
@media (max-width: 900px) {
  .section-img-3 {
    margin: 1rem auto;
  }
}
@media (max-width: 550px) {
  .section-img-3 {
    margin: 1rem auto;
    width: 250px;
    height: 200px;
  }
}

.section.section-5 {
  height: 546px;
}
@media (max-width: 550px) {
  .section.section-5 {
    height: auto;
  }
}

.section-img-4 {
  width: 445px;
  height: 312px;
  margin: auto auto auto 0;
}
@media (max-width: 900px) {
  .section-img-4 {
    margin: 1rem auto;
  }
}
@media (max-width: 550px) {
  .section-img-4 {
    margin: 1rem auto;
    width: 250px;
    height: 200px;
  }
}

.article {
  padding: 4rem 0;
  width: 90%;
  height: auto;
  background: #E7ECFF;
  background: linear-gradient(0deg, #bac3e5 0%, #e7ecff 100%);
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .article {
    margin: 0 auto;
    padding: 2rem 0;
  }
}
@media (max-width: 550px) {
  .article {
    width: 95%;
  }
}

.article-wrapper {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  .article-wrapper {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .article-wrapper {
    width: 100%;
  }
}
.article-wrapper .text {
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 550px) {
  .article-wrapper .text {
    margin-bottom: 1rem;
  }
}
.article-wrapper .btn-section {
  margin-top: 0px;
}
.article-wrapper .text-small {
  margin-bottom: 1rem;
}
.article-wrapper .title-header {
  text-align: center;
}

.text-article {
  font-size: 4rem;
  margin-top: 2rem;
}
@media (max-width: 550px) {
  .text-article {
    margin-top: 0;
  }
}

.footer {
  width: 90%;
  margin: 0 auto;
  height: 220px;
  background: #BAC3E5;
}
@media (max-width: 900px) {
  .footer {
    height: auto;
  }
}
@media (max-width: 550px) {
  .footer {
    width: 95%;
  }
}

.footer-line {
  border: 1px solid #CDD1D4;
  width: 80%;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  align-items: baseline;
}
@media (max-width: 550px) {
  .footer-wrapper {
    flex-direction: column;
  }
}
.footer-wrapper:first-child {
  padding: 3rem;
  padding: 0.5rem;
}
.footer-wrapper:last-child {
  padding: 0.5rem;
}
@media (max-width: 900px) {
  .footer-wrapper {
    width: 98%;
  }
}

.footer-text {
  margin-right: auto;
}
@media (max-width: 550px) {
  .footer-text {
    order: 3;
    margin: 0.5rem auto;
  }
}

.footer-link .text-nav {
  margin-top: 0;
}
@media (max-width: 550px) {
  .footer-link {
    order: 1;
    margin: 0 auto;
  }
}

.btn-footer {
  margin-left: auto;
}
@media (max-width: 550px) {
  .btn-footer {
    margin: 0.5rem auto;
    order: 2;
  }
}

.footer-nav {
  width: 30%;
}
@media (max-width: 550px) {
  .footer-nav {
    margin: 1rem auto;
    width: 80%;
  }
}

.social-footer {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 25%;
}
@media (max-width: 550px) {
  .social-footer {
    margin: 0 auto;
    width: 50%;
  }
}

.footer-icon {
  width: 16px;
  height: 16px;
}