body {
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 60%;
}

.container {
  max-height: 1400px;
  height: auto;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  width: 90%;
  height: 700px;
  max-height: 1150px;
  background-image: url(img/header-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  z-index: 3;
}

.wrapper-nav {
  margin-top: 2rem;
  display: inline-flex;
  justify-content: space-between;
  width: 20%;
}

.link {
  transition: all 0.1s linear;
}
.link:hover {
  transform: scale(1.05);
}

.text {
  font-size: 1rem;
  color: #505f98;
}

.text-nav {
  margin-top: 1.4rem;
  color: #37447E;
  font-weight: 900;
  font-size: 1.5rem;
}

.btn {
  width: 160px;
  height: 26px;
  background: #111B47;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.btn.btn-nav {
  margin-top: 1.4rem;
}
.btn.btn-nav:hover {
  background: #a1afe9;
}

.section {
  margin: 0 auto;
  width: 90%;
  height: 742px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-1 {
  margin: 0;
}

.section-2 {
  flex-direction: column;
}

.section-wrapper {
  width: 40%;
  line-height: 20px;
  margin: auto 0;
}

.section-2-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  color: #091133;
}

.title-header {
  font-size: 2.5rem;
  line-height: 40px;
  margin-bottom: 15px;
}

.btn-section {
  margin-top: 40px;
  width: 189px;
}

.btn-light {
  margin-left: 15px;
  background: #FFFFFF;
  color: #111B47;
  border: 2px solid #091133;
}

.title-section {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-small-wrapper {
  margin-top: 5rem;
  width: 100%;
  display: inline-flex;
}

.section-small-wrapper-1 {
  width: 45%;
}

.section-icon, .title-small {
  margin-bottom: 0.5rem;
}

.title-small {
  font-size: 1rem;
}

.text-smalL {
  font-size: 0.7rem;
  color: #5D6970;
}

.section-img-1 {
  width: 525px;
  margin-left: auto;
}

.section.section-3, .section.section-4 {
  height: 563px;
}

.section-img-2 {
  width: 480px;
  height: 315px;
  margin: auto auto auto 0;
}

.section-img-3 {
  width: 540px;
  height: 387px;
  margin: auto auto auto 0;
}

.section.section-5 {
  height: 546px;
}

.section-img-4 {
  width: 445px;
  height: 312px;
  margin: auto auto auto 0;
}